<h1>Budgets index page</h1>


<table>
    <tr>
        <th>Category</th>
        <th>Budgeted</th>
        <th>Actual</th>
        <th>Available</th>
    </tr>

    <% @budgets.each do |budget| %>
        <tr>
            <th><%= budget.category.category_name%></th>
            <th><%= budget.budgeted_value%></th>
            <%# <th><%= actual_value %></th>
            <%# <th>budget.budgeted_value - budget.transaction.actual_value</th> %>
        </tr>
    <% end %>
</table>