/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "tempusdominus-bootstrap-4.css";
 @import 'https://fonts.googleapis.com/css?family=Montserrat';
 @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
* {
  font-family: 'Ubuntu', sans-serif;
  a {
    color: #dde8f0;
  }
  a:hover {
    color: #dde8f0;
  }
}

 body {
  background: #004581;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #dde8f0;
 }

 h1 {
   color: #dde8f0;
 }

 .container {
   padding: 0 20px;
   margin: 0 auto
 }

 a:hover {
   text-decoration: none;
 }

 .submit-button {
   padding: 0;
 }

a.link.link-theme.link-arrow {
  color: #dde8f0;
}