// Place all the styles related to the Budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// navbar
header {
    margin-top: 16px;
    a {
        color: black;
    }
 }
 ul {
     display: flex;
     justify-content: space-between;
     li {
        list-style: none;
        padding-left: 16px;
    }
 }

.logo {
    font-size: large;
    padding-bottom: 2px;
}

.logo:hover {
    text-decoration: none;
    color: black;
}

.link-arrow:after {
    content: '';
    background-size: 100% 100%;
    width: 16px;
    height: 12px;
    position: absolute;
    top: 4px;
    right: -28px;
    -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
    transition: all .4s cubic-bezier(.35, 1, .33, 1)
  }
  
  .link-arrow:hover:after {
    right: -35px
  }
  
  .link-arrow.link-arrow-white:after {
    background-size: 100% 100%
  }
  
  .link-arrow-hover:after {
    right: -35px
  }
  
  .link {
    display: inline-block;
    position: relative;
    border: none;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-family: Montserrat, helvetica, arial, sans-serif;
    font-weight: 700
  }
  
  .link:active,
  .link:focus,
  .link:hover {
    outline: 0
  }
  
  .link:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    width: 0;
    height: 2px;
    -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
    transition: all .4s cubic-bezier(.35, 1, .33, 1)
  }
  
  .link:hover {
    color: #000;
    text-decoration: none;
  }
  
  .link:hover:before {
    width: 100%
  }
  
  .link-theme:before {
    background: #9BC36A
  }


// table

  table {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: rgb(238, 235, 235);} 

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #BDD89E;
    color: white;
  }

  .positive {
    color: green;
  }

  .negative {
    color: red;
  }